<!DOCTYPE httempml>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django API Bookstore</title>
    {% block title %} <h4 id="home_title"> Django API</h4> {% endblock %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'site-styling.css' %}">


</head>


<body>
<hr/>

<div class="dropdown_c">


    <big><h3 id="books_available">See available books</h3></big>

    <form action="" method="POST" id="dropdown_form">
        {% csrf_token %}
        {{ choices_form.as_p }}
        <input type="submit" value="Select" name="book_retrieve" id="book_select" class="dropdown_c"/>
    </form>

</div>

{% if Book.id >= 0 %}
    <p id="selection"> Current Selection: {{ Book.title }}</p>

{% endif %}



<div class="grid-container">
    <div class="item1" id="id_title">{{ Book.title }}</div>
    <div class="item2">Description (coming soon)</div>
    <div class="item3">{{ Book.release_date }}</div>
    <div class="item4" id="id_picture">Picture (coming soon)</div>
    <div class="item5">{{ Book.author }}</div>
    <div class="item56">{{ Book.genre }}</div>
</div>

<div>
    <br>
    <h3 id="add_new">Add a new book</h3>
    <form method="post" id="book_info">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <br>
        <button type="submit" name="save">Submit</button>
        <form/>
</body>
</html>

</div>